extends ../layouts/main.pug

block globals
- const title = "About Us"

block content
    h1#my-unique-id Hey Lab1

    p This assignment belongs to Group 1.
    p Group 1 has two members: Lu Chen and Yingge Hu.
    a(href='/') Go to home page
